.header-navigetion {
    background-color: var(--accent-color);
    height: 120px;
   
}

.header-nav__logo{
    position: absolute;
    
    top: 47px;
}
.header-nav__logo img{
    width: 202px;
    height: 34px;
    border: none;
}

.header__banner-container {
    clear: both;
    width: 982px;
    height: 120px;
    margin: 0 auto;
    z-index: 11;
    position: relative;
}

.header__banner-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 200px;
}



    
.header-nav {
    width: 100%;
    max-width: 1312px;
    margin: auto;
}

.header-nav__wrapper{
    position: absolute;
     top:-120%;
     transition: top 0.3s ease-in;
     overflow: hidden;
     margin: auto;
     clear: both;
     width: 584px;
     height: 140px;
     
     background: #101010;
     border: 1px solid #444;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    right: 0;
    
    
 }

 .header-nav__wrapper.active {
    top: 0;
 }

 .nav{
    display: none;
 }

 @media(min-width:690px) {
    .nav{
    display: block;
 }
}

.search_content{
    position: relative;
    width: 30px;
    height: 20px;
    padding: 12px;
    cursor: pointer;
    z-index: 1;
    
}

.search_content::before,
.search_content span,
.search_content::after {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color:var(--banner-h-color) ;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.search_content span {
    transform: scale(1);
}

.search_content::before,
.search_content::after {
    content: " ";
}

.search_content::before{
   top: 0;
   }
.search_content::after {
    bottom: 0;
}

.search_content.active::before {
    top:50%;
    transform:rotate(-45deg);
}

.search_content.active span {
    transform: scale(0);
}

.search_content.active::after {
    bottom:40%;
    transform:rotate(45deg);
}


.search {
    position: absolute;
    width: 400px;
    height: 42px;
    right: 0;
    top: 40px;
    background: #2a2a2a;
    border: 1px solid #3b3b3b;
    box-shadow: 0 0 3px #000
        }
        .searchTerm {
            position: absolute;
            left: 10px;
            top: 12px;
            width: 350px;
            border: none;
            background: 0 0;
            font-size: 16px;
            color: #ccc;
            box-sizing: border-box;
            -webkit-appearance: none;
            border-radius: 0;
        }
        
        .searchButton {
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 42px;
            border: none;
            background: 0 0;
            font-size: 0;
            box-sizing: border-box;
            -webkit-appearance: none;
            cursor: pointer;
            background: url(/img/search.png) 5px 8px no-repeat;
        }
        


h3 {
    position: absolute;
    bottom: 5px;
    left: 1px;
    width: 310px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}